@page "/generalcryptoinfo"

<h1>General CryptoCurrency Info</h1>

<h3><b>Why is Electra not using masternodes or Proof-of-Work?</b></h3>
<p>
   In the ever changing world of crypto, coins are always being made and used in a number of ways.   
</p>
