@page "/"

<h1>Hello and Welcome to Electra University!</h1>

We provide these services as is. It's for learning only and is not financial or investing advice. 

<SurveyPrompt Title="How is Electra University for information?" />

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!--
<iframe width="560" height="315" src="https://www.youtube.com/embed/8jofIMKJseU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->

<!-- testing -->
