@page "/newtocrypto"

<h1>I'm New To Cryptocurrency!</h1>
<br>
<h2>Where Do I Even Start?</h2>

<p>In the ever changing world of crypto, there are a number of things that never change. We here at Electra University, want to give you information to keep your self safe.
Here are a few topics and things consider when starting crypto safety.
</p>

<h3>Private Keys</h3>
<p>Priv key, private keys, what does all this mean? These are hashes that are a long chain of letters and numbers.
With these keys, they hold the access to your coins on the blockchain. Your wallet stores these keys, in short, your wallet never stores actual coins. It retrieves the coins associated with the private keys in your wallet on the blockchain and displays them on your wallet.</p>

<h4>How do I retreieve my Private Keys?</h4>
<p>To retreieve your private keys, there are multiple ways.</p>

<h3>Protecting wallet.dat</h3>
<p>Your wallet.dat file contains all your possible private keys that could be made for your wallet. What does this mean? NEVER share this file with anyone! User support personal will never ask for it. This is just as important to keep safe just as the private keys are. Most wallet.dat files are stored in:<br><br>
<ul>
   <li>Windows: C:/Users/YOUR_USER_NAME/AppData/Roaming/Electra</li>
   <li>Mac:     ~/Library/Application Support/Electra</li>
   <li>Linux:   ~/.electra</li>
</ul>
</p>

<h3>Commands in Debug Console and CLI</h3>

<h3>Mnenomic Phrases</h3>

<h3><b>Flow-Chart to obtain Electra</b></h3>
<img src="images/Electra_Project_Presents.png" width="35%" height="35%">
