@page "/referencedocs"

<h1>Reference Documents</h1>
<p>Here are a number of documents that may come in handy when trying to setup a QT walet</p>
<p>
   <ul>
      <li><a href="https://docs.google.com/document/d/1uiY8ATk6Mh0GEDxqOlWSsQkXvfU0grCHGulCPakLMm0/edit?usp=sharing">Setup QT Wallet on Raspberry Pi</a></li>
      <li><a href="https://electra-support.org/wallet-help/paper-wallet-import-guide/">Paper Wallet Import Guide</a></li>
      <li><a href="https://electra-support.org/wallet-help/javascript-assertion-error-fix/">Login 0001 Assertion Fix</a></li>
      <li><a href="https://electra-support.org/wallet-help/windows-out-of-sync-guide/">Windows Out of Sync Guide</a></li>
      <li><a href="https://electra-support.org/wallet-help/macos-out-of-sync-guide/">MacOS Out of Sync Guide</a></li>
      <li><a href="https://cdn.electraproject.org/wp-content/uploads/2018/07/Desktop_Wallet_Guide.pdf">Desktop Wallet Setup Guide (NOT IN USE, OUTDATED WALLET)</a></li>
      <li><a href="https://electra-support.org/wallet-help/new-wallet-faq/">Desktop Wallet FAQ GUIDE (NOT IN USE, OUTDATED WALLET)</a></li>
      <li><a href="https://electra-support.org/wallet-help/javascript-assertion-error-fix/">Same Assertion Fix from Above</a></li>
   </ul>
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/8jofIMKJseU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Vws7WJxMuP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yZkR_hWx1u8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nvOAhf9g1Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
